<!DOCTYPE html>
{% load static %}
<html>
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>GIS Klaten - Home</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css-home/bootstrap.min.css' %}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css-home/style.css' %}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{% static 'css-home/responsive.css' %}">
    <!-- fevicon -->
    <link rel="icon" href="{% static 'img/app-icon.jpg' %}" type="image/gif" />
    <!-- font css -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{% static 'css-home/jquery.mCustomScrollbar.min.css' %}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>
<body>
<div class="header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand"href="index.html"><img style="height: 80px;" src="{% static 'img/logo 2.png' %}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'maps' %}">Maps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/settings/">Administrator</a>
                    </li>
                </ul>
                {#                  <form class="form-inline my-2 my-lg-0">#}
                {#                     <div class="login_bt">#}
                {#                        <ul>#}
                {#                           <li><a href="#"><span class="user_icon"><i class="fa fa-user" aria-hidden="true"></i></span>Login</a></li>#}
                {#                           <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>#}
                {#                        </ul>#}
                {#                     </div>#}
                {#                  </form>#}
            </div>
        </nav>
    </div>
    <!-- banner section start -->
    <div class="banner_section layout_padding">
        <div class="container">
            <div id="banner_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="banner_img"><img style="height: 410px;" src="{% static 'img/Klaten-Maps.png' %}"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="banner_taital_main">
                                    <h1 class="banner_taital">Klaten</h1>
                                    <h5 class="tasty_text">Lorem Ipsum</h5>
                                    <p class="banner_text">Klaten merupakan tempat paling tepat bagi anda yang membutuhkan tempat healing ala ala Gen-Z </p>
                                    {% comment %}<div class="btn_main">
                                        <div class="about_bt"><a href="{% url 'about' %}">About Us</a></div>
                                    </div>{% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="banner_img"><img style="height: 410px;" src="{% static 'img/candi.png' %}"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="banner_taital_main">
                                    <h1 class="banner_taital">Wisata</h1>
                                    <h5 class="tasty_text">Lorem Ipsum</h5>
                                    <p class="banner_text">Kami memberikan sejumlah informasi wisata menarik di Klaten
                                        yang membuat anda lebih leluasa memilih kunjungan wisata </p>
                                    {% comment %}<div class="btn_main">
                                        <div class="about_bt"><a href="{% url 'about' %}">About Us</a></div>
                                    </div>{% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="banner_img"><img style="height: 410px;" src="{% static 'img/bubur.png' %}"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="banner_taital_main">
                                    <h1 class="banner_taital">Kuliner</h1>
                                    <h5 class="tasty_text">Lorem Ipsum</h5>
                                    <p class="banner_text">Varian kuliner yang beraneka ragam membuat perjalanan anda semakin seru </p>
                                    {% comment %}<div class="btn_main">
                                        <div class="about_bt"><a href="{% url 'about' %}">About Us</a></div>
                                    </div>{% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- banner section end -->
</div>
<!-- header section end -->
<!-- coffee section start -->
<div class="coffee_section layout_padding">
    <div class="container">
        <div class="row">
            <h1 class="coffee_taital">Destinasi Wisata dan Kuliner</h1>
            <div class="bulit_icon"><img src="{% static 'images/bulit-icon.png' %}"></div>
        </div>
    </div>
    <div class="coffee_section_2">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img style="height: 290px;" src="{% static 'images/River Tubing Pusir Adventure.jpg' %}"></div>
                                <h3 class="types_text text-uppercase">River Tubing Pusir Adventure</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img style="height: 290px;" src="https://1.bp.blogspot.com/-xsdcKsm4lJA/YKHjB26uAGI/AAAAAAAAD10/SQetQIAjrnI2T4I672DY4WCMy0ft3Ha9QCLcBGAsYHQ/s2048/Galuh-Tirtonirmolo-Waterpark.jpg"></div>
                                <h3 class="types_text text-uppercase">Waterpark Galuh Tirtonirmolo Prambanan</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img style="height: 290px;" src="https://t-2.tstatic.net/tribunpontianaktravel/foto/bank/images/wisata-deles-indah2.jpg"></div>
                                <h3 class="types_text text-uppercase">Deles Indah</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img style="height: 290px;" src="https://mytrip123.com/wp-content/uploads/2022/02/fasilitas-gondang-winangoen.jpg"></div>
                                <h3 class="types_text text-uppercase">Agrowisata Gondang Winangoen</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="{% static 'images/img-1.png' %}"></div>
                                <h3 class="types_text">TYPES OF COFFEE</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="{% static 'images/img-2.png' %}"></div>
                                <h3 class="types_text">BEAN VARIETIES</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="{% static 'images/img-3.png' %}"></div>
                                <h3 class="types_text">COFFEE & PASTRY</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="{% static 'images/img-4.png' %}"></div>
                                <h3 class="types_text">COFFEE TO GO</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="{% static 'images/img-1.png' %}"></div>
                                <h3 class="types_text">TYPES OF COFFEE</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="{% static 'images/img-2.png' %}"></div>
                                <h3 class="types_text">BEAN VARIETIES</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="{% static 'images/img-3.png' %}"></div>
                                <h3 class="types_text">COFFEE & PASTRY</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="coffee_img"><img src="{% static 'images/img-4.png' %}"></div>
                                <h3 class="types_text">COFFEE TO GO</h3>
                                <p class="looking_text">looking at its layout. The point of</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- coffee section end -->
<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="about_taital">Tentang Website Kami</h1>
                <div class="bulit_icon"><img src="{% static 'images/bulit-icon.png' %}"></div>
            </div>
        </div>
        <div class="about_section_2 layout_padding">
            <div class="image_iman"><img src="{% static 'img/logo 2.png' %}" class="about_img"></div>
            <div class="about_taital_box mt-4">
                <h1 class="about_taital_1">Sistem Informasi Geografis Klaten</h1>
                <p class=" about_text">has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editorhas a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editor</p>
                <div class="readmore_btn"><a href="{% url 'about' %}">Selengkapnya</a></div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->

<!-- Javascript files-->
<script src="{% static 'js-home/jquery.min.js' %}"></script>
<script src="{% static 'js-home/popper.min.js' %}"></script>
<script src="{% static 'js-home/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js-home/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'js-home/plugin.js' %}"></script>
<!-- sidebar -->
<script src="{% static 'js-home/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js-home/custom.js' %}"></script>
</body>
</html>